<section
  class="mx-4 mt-3 flex flex-col gap-3 rounded-2xl bg-cream-deep p-4"
  aria-label="Host controls"
  i18n-aria-label="quiz|Accessible label for the host controls section@@quiz.hostControlsAriaLabel"
>
  @if (q1Status() === 'Open') {
    <mat-radio-group class="flex gap-4">
      @for (option of ['A', 'B', 'C']; track option) {
        <mat-radio-button [value]="option" (change)="selectedQ1Answer.set($any(option))">
          {{ option }}
        </mat-radio-button>
      }
    </mat-radio-group>
    <button
      type="button"
      mat-flat-button
      [disabled]="!selectedQ1Answer()"
      (click)="onCloseQ1()"
      i18n="quiz|Button to close the voting and reveal the correct answer@@quiz.closeVotingButton"
    >
      Close voting
    </button>
  }

  @if (q2Status() === 'Open') {
    <app-country-autocomplete (countrySelected)="selectedCountry.set($event)" />
    <button
      type="button"
      mat-flat-button
      disabledInteractive
      [disabled]="!selectedCountry()"
      (click)="onCloseQ2()"
      i18n="quiz|Button to close Q2 voting and reveal the correct country@@quiz.closeQ2VotingButton"
    >
      Close voting
    </button>
  }
</section>
